/* This is for your Custom Content. */

@mixin sans-serif {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

@mixin serif {
  font-family: serif;
}

@mixin monospace {
  font-family: Monaco, Consolas, Terminal, monospace;
}

@mixin transition($a: .3s) {
  transition: all $a;
}

@mixin text-shadow($a: 255, $b: 1px, $c: 170) {
  text-shadow: 0 1px 0 rgb($a, $a, $a), 0 1px $b rgba($c, $c, $c, .8);
}

@mixin box-shadow($a, $b, $c, $d) {
  box-shadow: $a $b $c rgba(50, 118, 177, $d);
}

@mixin border($a) {
  border: 1px solid rgba(50, 118, 177, $a);
}

@mixin border-radius($a) {
  border-radius: $a;
}

@mixin background-color($a: 249, $b: .5) {
  background-color: rgba($a, $a, $a, $b);
}

@mixin img {
  max-width: 100%;
  margin: 0 auto;
  display: inherit;
  border-radius: 6px;
  padding: 4px;
  line-height: 1.429;
  /*@include background-color;*/
  /*@include border(0.2);*/
  /*@include box-shadow(1px, 2px, 4px, .8);*/
  /*@include transition;*/
}
