/* This is for your Custom Content. */

@mixin font {
  font-family: "Helvetica Neue", 'Ubuntu', Tahoma, Arial, Helvetica, sans-serif;
}

@mixin transition($a: 0.3s) {
  transition: all $a;
}

@mixin text-shadow($a: 255, $b: 1px, $c: 170) {
  text-shadow: 0px 0px 0px rgb($a, $a, $a), 0px 1px 0px rgb($a, $a, $a), 0px 1px $b rgba($c, $c, $c, 0.8);
}

@mixin box-shadow($a, $b, $c, $d) {
  box-shadow: $a $b $c rgba(0, 0, 0, $d);
}

@mixin border($a) {
  border: 1px solid rgba(0, 0, 0, $a);
}

@mixin border-radius($a) {
  border-radius: $a;
}

@mixin background-color($a: 0.5) {
  background-color: rgba(249, 249, 249, $a);
}

@mixin img {
  max-width: 100%;
  max-height: 400px;
  margin: 0px auto;
  display: block;
  border-radius: 6px;
  padding: 4px;
  line-height: 1.429;
  background: #FFF;
  border: 1px solid #DDD;
  @include box-shadow(1px, 2px, 3px, 0.6);
  @include transition;
  &:hover {
    @include box-shadow(1px, 2px, 4px, 0.8);
    @include transition;
  }
}
