---
layout: index
description: Havanna Hobbies, Linux Tips Record。
tagline: 王者不可刚，阴柔三寸力，铁指寸进，劲断霸阳
---

{% for post in paginator.posts %}
<div class="wrapper">
    <h2 class="h2 entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% if post.content contains "<!-- more -->" %}
      {{ post.content | split:'<!-- more -->' |first }}
    {% else %}
      {{ post.content | strip_html | truncatewords:50 }}
    {% endif %}

    {% if post.content contains "<!-- more -->" %}
      <p><a class="btn more-link" href="{{ post.url }}"><span class="readmore">Read More &raquo; </span></a></p>
    {% endif %}
</div>
{% endfor %}

<!-- Pagination links -->
  <div id="post-pagination" class="pagination pagination-centered">
    <ul class="pagination">
      {% if paginator.previous_page %}
      <li>
        {% if paginator.previous_page == 1 %}
        <a href="/"><span class="icon-chevron-left"></span></a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}"><span class="icon-chevron-left"></span></a>
        {% endif %}
      </li>
      {% else %}
      <li class="disabled">
      <span><span class="icon-chevron-left"></span></span>
      </li>
      {% endif %}

      {% if paginator.page == 1 %}
      <li class="active">
      <a href="#">1</a>
      </li>
      {% else %}
      <li>
      <a href="/">1</a>
      </li>
      {% endif %}

      {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <li class="active">
      <a href="#">{{ count }}</a>
      </li>
      {% else %}
      <li>
      <a href="/page{{ count }}">{{ count }}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <li>
      <a href="/page{{ paginator.next_page }}"><span class="icon-chevron-right"></span></a>
      </li>
      {% else %}
      <li class="disabled">
      <span><span class="icon-chevron-right"></span></span>
      </li>
      {% endif %}
    </ul>
  </div>