---
layout: index
description: Havanna Hobbies, Linux Tips Record。
tagline: 王者不可刚，阴柔三寸力，铁指寸进，劲断霸阳
---

{% for post in paginator.posts %}
<div class="wrapper">
    <h2 class="h2 entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% if post.content contains "<!-- more -->" %}
      {{ post.content | split:'<!-- more -->' |first }}
    {% else %}
      {{ post.content | strip_html | truncatewords:50 }}
    {% endif %}

    {% if post.content contains "<!-- more -->" %}
      <p><a class="btn more-link" href="{{ post.url }}"><span class="readmore">Read More &raquo; </span></a></p>
    {% endif %}
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination pagination-right">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="btn" href="/">Home</a>
    <a class="btn" href="/">&laquo; Prev</a>
    {% else %}
    <a class="btn" href="/">Home</a>
    <a class="btn" href="/page{{paginator.previous_page}}/">&laquo; Prev</a>
    {% endif %}
  {% else %}
    <span><a class="btn disabled prev" href="/">Home</a></span>
    <span><a class="btn disabled prev">&laquo; Prev</a></span>
  {% endif %}
  <span><a class="btn disabled">Page: {{paginator.page}} of {{paginator.total_pages}}</a></span>
  {% if paginator.next_page %}
    <a class="btn" href="/page{{paginator.next_page}}/">Next &raquo;</a>
    <a class="btn" href="/page{{paginator.total_pages}}/">Last</a>
  {% else if paginator.page == paginator.total_pages %}
    <span><a class="btn disabled">Next &raquo;</span>
    <span><a class="btn disabled">Last</a></span>
  {% endif %}
</div>
