/* This is for your Custom Content. */

@media (min-width: 979px) {
  body {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
}

p {
  img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  }
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.row .visible-desktop {
  margin-top:20px;
}

a {
  color: #08c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover, &:focus {
    color: #005580;
    text-decoration: none;
  }
}