/* Responsive Overrides */

@media (min-width: 979px) {
  body {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
}

div.container {
  padding: 0px 20px;
  div.page-header {
    @include border-radius(0);
  }
}