/* Partials */
/* This is for your Custom Content. */
/* Responsive Overrides */
@media (min-width: 767px) {
  /* line 4, ../_sass/_responsive.scss */
  body {
    padding-top: 50px; } }
@media (max-width: 767px) {
  /* line 10, ../_sass/_responsive.scss */
  .navbar-fixed-top {
    position: relative;
    top: auto; } }
/* This is for your Custom Content. */
/* line 3, ../_sass/_custom.scss */
body {
  color: rgba(51, 51, 51, 0.9);
  background: url("../images/bg.png") repeat scroll left top transparent;
  font-family: "Helvetica Neue", 'Ubuntu', Tahoma, Arial, Helvetica, sans-serif; }

/* line 9, ../_sass/_custom.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, b, strong {
  text-shadow: 0px 1px 0px white, 0px 1px 2px rgba(170, 170, 170, 0.8);
  behavior: url(./ie-css3.htc);
  font-weight: 500;
  /*@include sans-serif;*/
  font-family: "Helvetica Neue", 'Ubuntu', Tahoma, Arial, Helvetica, SimHei, sans-serif; }
  /* line 15, ../_sass/_custom.scss */
  h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, b small, strong small {
    text-shadow: 0px 1px 0px white, 0px 1px 1px rgba(170, 170, 170, 0.8);
    behavior: url(./ie-css3.htc); }

/* line 21, ../_sass/_custom.scss */
h5, h6, strong {
  text-shadow: 0px 1px 0px white, 0px 1px 1px rgba(170, 170, 170, 0.8);
  behavior: url(./ie-css3.htc); }

/* line 26, ../_sass/_custom.scss */
a {
  transition: all 0.3s;
  color: rgba(0, 136, 204, 0.9); }
  /* line 29, ../_sass/_custom.scss */
  a:hover, a:focus {
    color: #005580;
    text-decoration: none;
    transition: all 0.3s; }

/* line 36, ../_sass/_custom.scss */
.navbar .brand, .navbar .nav > li > a {
  transition: all 0.3s;
  text-shadow: 0px 1px 0px white, 0px 1px 0px rgba(170, 170, 170, 0.8);
  behavior: url(./ie-css3.htc); }
  /* line 40, ../_sass/_custom.scss */
  .navbar .brand:hover, .navbar .brand:focus, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color: #333333;
    text-shadow: 0px 1px 0px white, 0px 1px 1px rgba(170, 170, 170, 0.8);
    behavior: url(./ie-css3.htc);
    transition: all 0.3s; }

/* line 48, ../_sass/_custom.scss */
body > nav.navbar-default {
  background-color: rgba(249, 249, 249, 0.8);
  box-shadow: 0px 0px 4px rgba(50, 118, 177, 0.6);
  behavior: url(./ie-css3.htc); }

/* line 54, ../_sass/_custom.scss */
.nav > li > form {
  position: relative;
  display: block;
  padding: 10px 15px; }

/* line 60, ../_sass/_custom.scss */
.container > .navbar-header, .container > .navbar-collapse {
  text-shadow: 0px 1px 0px white, 0px 1px 2px rgba(170, 170, 170, 0.8);
  behavior: url(./ie-css3.htc);
  transition: all 0.3s;
  margin-right: 0px;
  margin-left: 0px;
  font-family: 'Cambo', serif;
  font-weight: 500; }

/* line 70, ../_sass/_custom.scss */
.container > .navbar-header > a {
  font-size: 30px; }

/* line 74, ../_sass/_custom.scss */
.container > .navbar-collapse {
  font-size: 16px; }

/* line 78, ../_sass/_custom.scss */
.page-header {
  border-bottom: 1px dashed #eeeeee; }

/* line 82, ../_sass/_custom.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

/* line 87, ../_sass/_custom.scss */
.tag_box a {
  padding: 3px;
  margin: 2px;
  line-height: 180%;
  border-radius: 3px;
  behavior: url(./ie-css3.htc);
  background-color: rgba(238, 238, 238, 0.9); }

/* line 96, ../_sass/_custom.scss */
.row .visible-lg {
  margin-top: 40px; }

/* line 101, ../_sass/_custom.scss */
.col-md-9 .wrapper {
  transition: all 0.3s;
  border: 1px solid rgba(50, 118, 177, 0.167);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(50, 118, 177, 0.267);
  behavior: url(./ie-css3.htc);
  padding: 5px;
  margin: 5px 0px; }
  /* line 109, ../_sass/_custom.scss */
  .col-md-9 .wrapper .entry-title {
    border-bottom: 1px dashed rgba(50, 118, 177, 0.067); }
  /* line 112, ../_sass/_custom.scss */
  .col-md-9 .wrapper p img {
    max-width: 100%;
    margin: 0px auto;
    display: block;
    border-radius: 6px;
    padding: 4px;
    line-height: 1.429;
    background-color: rgba(249, 249, 249, 0.5);
    border: 1px solid rgba(50, 118, 177, 0.2);
    box-shadow: 1px 2px 4px rgba(50, 118, 177, 0.8);
    transition: all 0.3s; }
  /* line 115, ../_sass/_custom.scss */
  .col-md-9 .wrapper .status {
    border-top: 1px dashed rgba(50, 118, 177, 0.067);
    padding-top: 10px;
    color: darkgrey; }
    /* line 119, ../_sass/_custom.scss */
    .col-md-9 .wrapper .status .meta {
      padding: 4px 0 0;
      vertical-align: middle; }
      /* line 122, ../_sass/_custom.scss */
      .col-md-9 .wrapper .status .meta p {
        display: inline;
        margin: 0 4px; }
      /* line 126, ../_sass/_custom.scss */
      .col-md-9 .wrapper .status .meta a {
        color: darkgrey; }
        /* line 128, ../_sass/_custom.scss */
        .col-md-9 .wrapper .status .meta a:hover, .col-md-9 .wrapper .status .meta a:focus {
          color: #333333; }
        /* line 131, ../_sass/_custom.scss */
        .col-md-9 .wrapper .status .meta a p {
          display: inline;
          margin: 0 4px; }
        /* line 135, ../_sass/_custom.scss */
        .col-md-9 .wrapper .status .meta a span {
          margin-left: 2px;
          vertical-align: super;
          font-size: 0.8em; }
    /* line 142, ../_sass/_custom.scss */
    .col-md-9 .wrapper .status .visible-lg {
      margin-top: 0px; }
/* line 148, ../_sass/_custom.scss */
.col-md-9 .status .visible-lg {
  margin-top: 0px; }
/* line 153, ../_sass/_custom.scss */
.col-md-9 p img, .col-md-9 ol img, .col-md-9 ul img, .col-md-9 table img {
  max-width: 100%;
  margin: 0px auto;
  display: block;
  border-radius: 6px;
  padding: 4px;
  line-height: 1.429;
  background-color: rgba(249, 249, 249, 0.5);
  border: 1px solid rgba(50, 118, 177, 0.2);
  box-shadow: 1px 2px 4px rgba(50, 118, 177, 0.8);
  transition: all 0.3s; }
/* line 156, ../_sass/_custom.scss */
.col-md-9 p code, .col-md-9 ol code, .col-md-9 ul code, .col-md-9 table code {
  font-family: "PT Mono", "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  box-shadow: 0px 0px 1px rgba(50, 118, 177, 0.167);
  border: 1px solid rgba(50, 118, 177, 0.067);
  behavior: url(./ie-css3.htc); }
/* line 163, ../_sass/_custom.scss */
.col-md-9 .highlight pre {
  transition: all 0.3s;
  background-color: rgba(249, 249, 249, 0.3);
  border: 1px solid rgba(50, 118, 177, 0.35);
  box-shadow: 0px 0px 3px rgba(50, 118, 177, 0.267);
  behavior: url(./ie-css3.htc); }
  /* line 169, ../_sass/_custom.scss */
  .col-md-9 .highlight pre code {
    font-family: "PT Mono", "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; }

/* line 175, ../_sass/_custom.scss */
section {
  transition: all 0.3s;
  border: 1px solid rgba(50, 118, 177, 0.167);
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(50, 118, 177, 0.267);
  behavior: url(./ie-css3.htc);
  background-color: rgba(249, 249, 249, 0.5);
  padding: 0px 5px;
  margin: 5px 0px; }
  /* line 184, ../_sass/_custom.scss */
  section h4 {
    font-family: 'Cambo', serif;
    border-bottom: 1px dashed rgba(50, 118, 177, 0.067); }

/* line 190, ../_sass/_custom.scss */
blockquote {
  border-left: 5px solid #c8c8c8; }
  /* line 192, ../_sass/_custom.scss */
  blockquote p {
    font-style: oblique; }

/* line 197, ../_sass/_custom.scss */
table {
  margin-bottom: 20px;
  max-width: 100%;
  border-collapse: collapse;
  transition: all 0.3s;
  border: 1px solid rgba(50, 118, 177, 0.167);
  behavior: url(./ie-css3.htc); }
  /* line 204, ../_sass/_custom.scss */
  table:hover {
    transition: all 0.3s;
    border: 1px solid rgba(50, 118, 177, 0.35);
    box-shadow: 0px 0px 3px rgba(50, 118, 177, 0.267);
    behavior: url(./ie-css3.htc); }
  /* line 210, ../_sass/_custom.scss */
  table thead tr th {
    border: 1px solid rgba(50, 118, 177, 0.167);
    behavior: url(./ie-css3.htc);
    border-top: 0px none;
    border-bottom-width: 2px;
    vertical-align: bottom;
    padding: 8px; }
  /* line 218, ../_sass/_custom.scss */
  table tbody tr td {
    border: 1px solid rgba(50, 118, 177, 0.167);
    behavior: url(./ie-css3.htc);
    vertical-align: middle;
    padding: 8px; }
  /* line 224, ../_sass/_custom.scss */
  table thead > tr {
    background-color: rgba(249, 249, 249, 0.9); }
  /* line 227, ../_sass/_custom.scss */
  table tbody > tr:nth-child(2n+1) {
    background-color: rgba(249, 249, 249, 0.5); }
  /* line 231, ../_sass/_custom.scss */
  table tbody tr:hover {
    background-color: rgba(235, 235, 235, 0.7);
    transition: all 0.3s; }

/* line 238, ../_sass/_custom.scss */
footer {
  margin: 20px 0px; }
  /* line 240, ../_sass/_custom.scss */
  footer p {
    line-height: 100%;
    color: #777777; }
    /* line 243, ../_sass/_custom.scss */
    footer p a {
      color: #777777; }
      /* line 245, ../_sass/_custom.scss */
      footer p a:hover, footer p a:focus {
        color: #333333; }

/* line 252, ../_sass/_custom.scss */
#search-loader {
  display: none;
  text-align: center; }

/* baidu share style fixed */
/* line 258, ../_sass/_custom.scss */
.bds_more {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }
