<div class="page-header-wrapper">
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  	</div>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
  </div>

  <div class="span4">
      <section>
        <h3>Latest Comments</h3>
        <span class="category">
          <ul class="ds-recent-comments" data-num-items="10" data-show-avatars="0" data-show-time="0" data-show-title="0" data-show-admin="0" data-excerpt-length="18"></ul>
        </span>
      </section>

      <section style="width:250px;">
        <h3>Recently Visitors</h3>
          <ul class="ds-recent-visitors" data-num-items="4" data-avatar-size="45" style="margin-top:10px;"></ul>
      </section>

  </div>
</div>
