<div class="page-header">
  <h1>
    <a href="{{ BASE_PATH }}{{ page.url }} title="{{ page.title }}"">{{ page.title }}</a> 
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
      {% else %}
        <a class="btn disabled prev">&larr; Previous</a>
      {% endif %}
        <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
      {% else %}
        <a class="btn next disabled">Next &rarr;</a>
      {% endif %}
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>Category</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}     
    {% unless page.tags == empty %}
      <section>
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}
      <section style="width:200px;">
        <h4>Recently Visitors</h4>
        <ul class="ds-recent-visitors" data-num-items="9" data-avatar-size="45" style="margin-top:10px; margin-left: -4px;"></ul>
      </section>
      <section style="width:200px;">
        <h4>License</h4>
        <span class="category">
          <img width="88px" height="31px" alt="License" src="{{ site.production_url }}/assets/images/CC.png">
          <p>本站所有作品采用 <a href="http://www.creativecommons.org/licenses/by-nc-sa/3.0/cn/deed.zh" target="_blank">署名-非商业性使用-相同方式共享 3.0 中国大陆</a> 进行协议授权，转载请注明出处。</p>
        </span>
      </section>
  </div>
</div>
