.content img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
.content div.row div.span9 > img {
    display: block;
    margin: 10px auto;
}
@media (min-width: 979px) {
    body {
        padding-top: 40px;
    }
}
@media (max-width: 767px) {
    body {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}