<div class="row">

  <div class="col-md-9">
    <div class="page-header">
      <h2>
        {{ page.title }} 
        {% if page.tagline %}
          <small>{{ page.tagline }}</small>
        {% endif %}
      </h2>
    </div>
    {{ content }}
    <hr>
    <div class="row">
      <div class="col-md-8">
        <div class="btn btn-group">
          {% if page.previous %}
            <a class="btn btn-default btn-sm" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Prev</a>
          {% else %}
            <a class="btn btn-default btn-sm disabled">&laquo; Prev</a>
          {% endif %}
            <a class="btn btn-default btn-sm" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
          {% if page.next %}
            <a class="btn btn-default btn-sm" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a>
          {% else %}
            <a class="btn btn-default btn-sm disabled">Next &raquo;</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-4">
        <div id="bdshare" class="bdshare_t bds_tools_24 get-codes-bdshare btn btn-group pull-right">
          <a class="bds_tsina"></a>
          <a class="bds_tqq"></a>
          <a class="bds_t163"></a>
          <a class="bds_renren"></a>
          <span class="bds_more"></span>
        </div>
      </div>
    </div>
    {% include JB/comments %}
  </div>

  <div class="col-md-3 visible-lg visible-md">
    {% include custom/asides/search_box %}
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    {% if page.category %}
    <section>
    <h4>Categories</h4>
    <div class="category">
      {{ page.category }}
    </div>
    </section>
    {% endif %}
    {% unless page.tags == empty %}
      <section>
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}
    {% include custom/asides/license %}
  </div>

</div>
